<div class="container" style="background-color: coral">
    <h1>SAF Loan Management System</h1>
    <div class="row" *ngIf="role; else infoText">
        <div  class="col-xs-8">
            <!-- <p>{{loggedUser}}SyedAli Fathima, Assalamulaikum! </p> -->
            <p>Hi {{loggedUser}}, welcome! </p>
        </div>
        <div class="col-xs-4">
            <p>You are {{role}} user...</p>
        </div>
    </div>
    <ng-template #infoText>
        <div class="col-xs-12">
            <p>&nbsp; &nbsp; &nbsp; &nbsp;   </p>
        </div>
        
      </ng-template>
    
</div>
