<div class="row">
    <div class="col-xs-4">
      <h2>Login with Credentials</h2>
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName">
      
      <label>User Password</label>
      <input type="password" class="form-control" [(ngModel)]="userPwd">
      <!-- {{userName}} -->
      <br>
      <button
        class="btn btn-primary"
        (click)="onLogin()">Login</button>
      <button
        class="btn btn-primary"
        (click)="onReset()">Reset</button>
    </div>
    <div>
        <!-- <p *ngShow="isLoggedIn()">User Successfully Logged In!</p>
        <p *ngShow="!isLoggedIn()">Oops, Credential wrong! </p> -->
    </div>
  </div>
  