<div class="container">
  <app-header [role]="role" [loggedUser]= "loggedInUser"></app-header>
  <app-login (loginStatus)="onLogin($event)" *ngIf="showLogin"></app-login>
  <hr>
  
  <div class="row" *ngIf="!showLogin">
    <div class="col-md-6">
      <h2>Loan List</h2>
      <app-loan-list
        [userRole]='role'
        (loanWasSelected)="selectedLoan = $event"></app-loan-list>
    </div>
    <div class="col-md-6">
      <h2>Loan Details</h2>
      <app-loan-details
        *ngIf="selectedLoan; else infoText"
        [loan]="selectedLoan"></app-loan-details>
      <ng-template #infoText>
        <p>Please select a Loan!</p>
      </ng-template>
      <div class="row" *ngIf="selectedLoan && role ==='admin'">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onModifyItem()">Modify</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
 